-
  import comy.{Config => ComyConfig}
  import comy.action._

!!! 5
html
  head
    != antiCSRFMeta
    != xitrumCSS

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title= tc("App name", "URL Shortener")

    link(rel="stylesheet" type="text/css" media="all" href={urlForPublic("css/960/reset.css")})
    link(rel="stylesheet" type="text/css" media="all" href={urlForPublic("css/960/text.css")})
    link(rel="stylesheet" type="text/css" media="all" href={urlForPublic("css/960/960_24_col.css")})
    link(rel="stylesheet" type="text/css" media="all" href={urlForPublic("css/smart_corners.css")})
    link(rel="stylesheet" type="text/css" media="all" href={urlForPublic("css/application.css")})
    link(rel="stylesheet" type="text/css" media="all" href={urlForPublic("css/index.css")})

    != jsDefaults

  body
    .container_24
      .grid_15.prefix_3.suffix_6
        br
        br

        #csc
          span.tr

          h1#header
            a(href={url[UsersIndex]})= tc("App name", "URL Shortener")

          - if (ComyConfig.allowedIps.isAdminAllowed(remoteIp))
            - if (!SVar.username.isDefined)
              a(href={url[AdminLogin])= t("Login")
            - else
              b= SVar.username.get
              a(href={url[AdminIndex]})= t("Admin") + " | "
              a(href="#" data-postback="click" action={url[AdminLogout]})= t("Logout")

          #flash= jsRenderFlash()

          != renderedView

          .clear

          span.bl
          span.br

        h5#footer
          span Powered by
          a(href="https://github.com/ngocdaothanh/comy") Comy

    != jsForView
